research
kcpuv.xcodeproj
**/build

**/CMakeCache.txt
**/cmake_install.cmake
**/*.xcodeproj
**/*.build
**/Release
CMakeScripts
CMakeFiles
CTestTestfile.cmake
**/*.h.gch
crash.logfile

**/Debug

node_modules
node_lib
node/lib/**/*
WORK.md
config.json
*.log
README_CN.md
